<div class="navbar navbar-fixed-bottom"><ul class="nav nav-pills"><li class="active"><a href="#">Michael D'Egidio</a></li><li><a href="mailto:mad2144@columbia.edu">mad2144@columbia.edu</a></li></ul></div>
