<div class="container">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" style="margin-left: 0px" href="/">Ketchup</a>
    <ul class="nav">
<li><a href="/trainers/new">Join Ketchup!</a></li>
<li><a href="/trainers/new">Login!</a></li>
</ul>
</div>
</div>
</div>
